@model IEnumerable<MVCBasico.Models.Computadora>

@{
    ViewData["Title"] = "Computadoras en stock";
}

<h1>Productos</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.procesador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.memoriaRam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lectorDisco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.procesador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.memoriaRam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lectorDisco)
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.ProductoId">Edit</a>  *@
                    <a asp-action="Details" asp-route-id="@item.ProductoId" class="btn btn-info">Detalle</a>
                @* <a asp-action="Delete" asp-route-id="@item.ProductoId">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Volver</a>